<div class="container mt-6">
    <div class="col-md-6 row">
        <h3><i class="bi bi-envelope-paper"></i>Contact Us</h3>
        <p>24x7 service avilable to serve you better</p>
    </div>
    <div class="col-md-12 container overflow-auto scrollbar scrollbar-black bordered-black square thin" style="height:400px">
        <div class="force-overflow">
        <div class="col-md-6 row">
        <h4 class="btn btn-info text-xl-start"><i class="fa fa-address-book"></i>West Bengal</h4>
    </div>
    
    <div class="row table-responsive">
        
        <table class="m-auto table table-striped table-hover table-responsive table-condense table-sm table-dark table-hover">
            <thead>
                <tr>
                   
                    <th scope="col">City</th>
                    <th scope="col">College</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                   
                    <td>Kolkata</td>
                    <td>HICK(College 1)</td>
                    <td>7632987363</td>
                    <td>avikmukherjee88@hic.com</td>
                </tr>
                <tr>
                    <td>South 24 Parganas</td>
                    <td>HICP(College 2)</td>
                    <td>7632987364</td>
                    <td>avikmukherjee89@hic.com</td>
                </tr>
                <tr>
                  <td>North 24 Parganas</td>
                    <td>HICN(College 3)</td>
                    <td>7632987365</td>
                    <td>avikmukherjee90@hic.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <div class="col-md-6 row">
        <h4 class="btn btn-info text-xl-start"><i class="fa fa-address-book"></i>Odissa</h4>
    </div>

    <div class="row table-responsive">

        <table class="m-auto table table-striped table-hover table-responsive table-condense table-sm table-dark table-hover">
            <thead>
                <tr>

                    <th scope="col">City</th>
                    <th scope="col">College</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Kolkata</td>
                    <td>HICK(College 1)</td>
                    <td>7632987363</td>
                    <td>avikmukherjee88@hic.com</td>
                </tr>
                <tr>
                    <td>South 24 Parganas</td>
                    <td>HICP(College 2)</td>
                    <td>7632987364</td>
                    <td>avikmukherjee89@hic.com</td>
                </tr>
                <tr>
                    <td>North 24 Parganas</td>
                    <td>HICN(College 3)</td>
                    <td>7632987365</td>
                    <td>avikmukherjee90@hic.com</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br/>
<div class="col-md-6 row">
        <h4 class="btn btn-info text-xl-start"><i class="fa fa-address-book"></i>Delhi</h4>
    </div>

    <div class="row table-responsive">

        <table class="m-auto table table-striped table-hover table-responsive table-condense table-sm table-dark table-hover">
            <thead>
                <tr>

                    <th scope="col">City</th>
                    <th scope="col">College</th>
                    <th scope="col">Phone No</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <td>Kolkata</td>
                    <td>HICK(College 1)</td>
                    <td>7632987363</td>
                    <td>avikmukherjee88@hic.com</td>
                </tr>
                <tr>
                    <td>South 24 Parganas</td>
                    <td>HICP(College 2)</td>
                    <td>7632987364</td>
                    <td>avikmukherjee89@hic.com</td>
                </tr>
                <tr>
                  <td>North 24 Parganas</td>
                    <td>HICN(College 3)</td>
                    <td>7632987365</td>
                    <td>avikmukherjee90@hic.com</td>
                </tr>
            </tbody>
        </table>
    </div>
        <br />
        <div class="col-md-6 row">
            <h4 class="btn btn-info text-xl-start"><i class="fa fa-address-book"></i>Mumbai</h4>
        </div>

        <div class="row table-responsive">

            <table class="m-auto table table-striped table-hover table-responsive table-condense table-sm table-dark table-hover">
                <thead>
                    <tr>

                        <th scope="col">City</th>
                        <th scope="col">College</th>
                        <th scope="col">Phone No</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>Kolkata</td>
                        <td>HICK(College 1)</td>
                        <td>7632987363</td>
                        <td>avikmukherjee88@hic.com</td>
                    </tr>
                    <tr>
                        <td>South 24 Parganas</td>
                        <td>HICP(College 2)</td>
                        <td>7632987364</td>
                        <td>avikmukherjee89@hic.com</td>
                    </tr>
                    <tr>
                        <td>North 24 Parganas</td>
                        <td>HICN(College 3)</td>
                        <td>7632987365</td>
                        <td>avikmukherjee90@hic.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>

</div>
</div>
